h1{
    color: black;
    font-family: 'Lobster', cursive;
    background-color: coral;
    text-align: center;
}
h2{
    color: black;
    font-family: 'Alegreya', serif;
    background-color: white;
    text-align: justify;
}